package cmd

import (
	"fmt"

	"github.com/gofiber/fiber/v2"
	"github.com/seoyc/wcli"
	"github.com/seoyc/wcli/logging"
	"{{.ModuleName}}/handler"
{{- if .SQLite}}
	"{{.ModuleName}}/database"
{{- end}}
)

func ServeCmd() *wcli.Command {
	return &wcli.Command{
		Use:   "serve",
		Short: "HTTP 서버를 시작합니다",
		Run: func(ctx *wcli.Context) error {
{{- if .SQLite}}
			if err := database.Init(cfg.Database.Path); err != nil {
				return fmt.Errorf("DB 초기화 실패: %w", err)
			}
{{- end}}
			addr := fmt.Sprintf("%s:%d", cfg.Server.Host, cfg.Server.Port)
			logging.GetLogger().Log(logging.LevelInfo, "서버 시작: http://%s", addr)

			app := fiber.New()
			app.Get("/hello", handler.Hello)
{{- if .SQLite}}
			app.Get("/examples", handler.ListExamples)
			app.Post("/examples", handler.CreateExample)
			app.Delete("/examples/:id", handler.DeleteExample)
{{- end}}
			return app.Listen(addr)
		},
	}
}
