package cmd

import (
	"fmt"

	"github.com/wkqco33/wcli"
)

func Root() *wcli.Command {
	root := &wcli.Command{
		Use:   "{{.ProjectName}}",
		Short: "{{.ProjectName}} CLI",
		Run: func(ctx *wcli.Context) error {
			fmt.Println("Hello from {{.ProjectName}}!")
			return nil
		},
	}

	root.AddCommand(wcli.NewCompletionCommand(root))
	return root
}
